@use './lib';
@use './variables' as vars;
@use './rwd';
@use './typography';
@use './code-highlight';
@use './icons';

/* = */
*,
*:hover {
    transition: all .3s ease-in-out !important;
}

body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    line-height: 1.7rem;
}



.section {
    padding: 3rem 0;

    &.fh {
        min-height: calc(100vh - 90px);
        height: 100%;

        @media (max-width: 768px) {
            .is-home & {
                min-height: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 1.5rem 0;
    }

    &:nth-child(1) {
        // background-color: rgb(206 216 25 / 25%);
        background-color: #eee;
    }

    &:nth-child(2) {
        // background-color: rgb(206 216 25 / 10%);
    }

    &.is-home {
        .home-icons {
            filter: vars.$filterShadow;

            .badge {
                margin-top: 10px;
                filter: vars.$filterShadow opacity(70%);
                min-width: 90px;

                &:hover {
                    filter: vars.$filterShadow grayscale(0) opacity(100%);
                }

                &.disabled {
                    filter: vars.$filterShadow grayscale(1) opacity(30%);

                }
            }

            [data-label] {
                position: relative;
            }

            [data-label]:hover:after {
                opacity: 1;
                transition: all 0.2s ease 0.6s;
                visibility: visible;
            }

            [data-label]:after {
                content: attr(data-label);
                z-index: 99999;
                margin-left: 10px;
            }

            [data-label]:after{
                opacity: 0;
                margin-left: 0;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: medium;
                transition: all .2s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }
            [data-label]:hover:after{
                opacity: 1;
                transition: all .2s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }
            [data-label] i:before{
                opacity: 1;
                transition: all .5s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }
            [data-label]:hover i:before{
                opacity: 0;
                transition: all .3s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }
        }
    }

    &:not(.is-home) {
        .badge {
            font-weight: 400;
            font-size: .85rem;
        }
    }

    .prev-post {
        background-color: #eee;

        &:before {
            content: "Previous Post";
            display: block;
            font-size: 11px;
        }
    }

    .next-post {
        background-color: #ddd;

        &:before {
            content: "Next Post";
            display: block;
            font-size: 11px;
            text-align: right;
        }
    }

    .all-post {
        padding: 1rem 2rem;

        &:before {
            content: "All Posts";
            display: block;
            font-size: 11px;
        }
    }
}

.header {
    min-height: 90px;

    .navbar {
        background: rgb(255 255 255 / 90%);
        // box-shadow: 0 3px 2px -2px rgb(0 0 0 / 10%);
    }
}

.user-avtar {
    filter: vars.$filterShadow grayscale(1);

    &:hover {
        filter: vars.$filterShadowHover grayscale(0);
    }
}


.posts li {
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }
}


/* utility */
img.is-rounded {
    max-height: 256px;
    width: auto;
}

.is-gray {
    filter: brightness(0);
}

.is-gray:hover {
    filter: brightness(1);
}