// @use './tailwind-output' as tw;
@use './lib';
@use './variables' as vars;
@use './rwd';
@use './typography';
@use './code-highlight';
@use './icons';
@use './single-page';

/* = */
*,
*:hover {
    transition: all .3s ease-in-out !important;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #fff;
    // font-family: 'Roboto Slab', serif;
    line-height: 1.7rem;
    margin-top: 5rem;
}

.libutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7px;
    text-align: center;
    outline: none;
    text-decoration: none !important;
    color: #ffffff !important;
    border-radius: 5rem;
    background-color: #0A66C2;
    font-family: "SF Pro Text", Helvetica, sans-serif;
}

.section {
    padding: 3rem 0;

    &.fh {
        min-height: calc(100vh - 90px);
        height: 100%;

        @media (max-width: 768px) {
            .is-home & {
                min-height: 100%;
            }
        }
    }

    @media (max-width: 768px) {
        padding: 1.5rem 0;
    }

    &:nth-child(1) {
        // background-color: rgb(206 216 25 / 25%);
        // background-color: #d1d82173;
    }

    &:nth-child(2) {
        // background-color: rgb(206 216 25 / 10%);
    }

    &.is-home {
        .home-icons {
            filter: vars.$filterShadow;
            display: flex;
            justify-content: space-between;

            .badge {
                margin-top: 10px;
                filter: vars.$filterShadow opacity(70%);
                min-width: 90px;

                &:hover {
                    filter: vars.$filterShadow grayscale(0) opacity(100%);
                }

                &.disabled {
                    filter: vars.$filterShadow grayscale(1) opacity(30%);

                }
            }

            [data-label] {
                position: relative;
                width: 100%;
                display: flex;
                justify-content: center;
                height: 100px;
                align-items: center;
            }

            [data-label]:hover:after {
                opacity: 1;
                transition: all 0.2s ease 0.6s;
                visibility: visible;
            }

            [data-label]:after {
                content: attr(data-label);
                z-index: 99999;
                margin-left: 10px;
            }

            [data-label]:after {
                opacity: 0;
                margin-left: 0;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top: 50%;
                font-size: 1.5rem;
                transition: all .2s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }

            [data-label]:hover:after {
                opacity: 1;
                transition: all .2s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }

            [data-label] i:before {
                opacity: 1;
                transition: all .5s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }

            [data-label]:hover i:before {
                opacity: 0;
                transition: all .3s cubic-bezier(1, 0.97, 0, 1.31) 0.3s;
            }
        }
    }

    &:not(.is-home) {
        .badge {
            font-weight: 400;
            font-size: .85rem;
        }
    }

    .prev-post {
        &:before {
            content: "Previous Post";
            display: block;
            font-size: 11px;
            margin-bottom: 10px;
        }
    }

    .prev-post,
    .next-post {
        font-size: 14px;
        line-height: 1rem;

        & [class*="c-"] {
            font-size: 11px;
            font-weight: 700;
            text-align: center;

            &:before {
                margin: 0;
                font-weight: 400;
                background: none;
                color: #000;
                width: 100%;
                min-height: 40px;
                margin-bottom: 10px;
            }
        }
    }

    .next-post {
        &:before {
            content: "Next Post";
            display: block;
            font-size: 11px;
            text-align: right;
            margin-bottom: 10px;
        }
    }

    .all-post {
        padding: 1rem 2rem;

        &:before {
            content: "All Posts";
            display: block;
            font-size: 11px;
        }
    }
}

.header {

    // min-height: 95px;

    .navbar {
        background: rgb(255 255 255 / 90%);

        // box-shadow: 0 3px 2px -2px rgb(0 0 0 / 10%);
        .navbar-brand {
            // font-weight: 700;
            font-size: 1.7rem;

            // color: #000;
            &::after {
                content: 'Front-End or nothing.';
                display: block;
                font-size: 1rem;
            }
        }
    }

    .img-fluid {
        max-width: 60%;
    }
}

.user-avtar {
    filter: vars.$filterShadow grayscale(1);

    &:hover {
        filter: vars.$filterShadowHover grayscale(0);
    }
}


.posts li {
    filter: grayscale(1);

    &:hover {
        filter: grayscale(0);
    }
}

.gatsby-resp-image-wrapper {
    margin: 3rem auto;

    // .gatsby-resp-image-background-image,
    // img {
    //     border-radius: 1rem;
    //     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    //     transition: all 0.3s ease-in-out;
    //     width: 100%;
    // }
}

img {

    p & {
        text-align: center;
        max-width: 690px;
        width: 100%;
        display: block;
        margin: 3rem auto;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        border-radius: 1rem;
        transition: all 0.3s ease-in-out;
    }
}

/* utility */
img.is-rounded {
    max-height: 256px;
    width: auto;
}

.is-gray {
    filter: brightness(0);
}

.is-gray:hover {
    filter: brightness(1);
}