@import './lib';
@import './variables';
@import './rwd';

/* = */
body {
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
}

.section {
    padding: 3rem 0;

    &.fh {
        min-height: calc(100vh - 90px);
        height: 100%;
    }

    &:nth-child(1) {
        background-color: rgb(206 216 25 / 30%);
    }

    &:nth-child(2) {
        background-color: rgb(206 216 25 / 10%);
    }

    &.is-home {
        .home-icons {
            filter: $filterShadow;

            >.badge {
                margin-top: 10px;
            }

            [data-label] {
                position: relative;
            }

            [data-label]:hover:after {
                opacity: 1;
                transition: all 0.2s ease 0.6s;
                visibility: visible;
            }

            [data-label]:after {
                content: attr(data-label);
                z-index: 99999;
                margin-left: 10px;
            }
        }
    }

    &:not(.is-home) {
        .badge {
            font-weight: 400;
            font-size: .85rem;
        }
    }
}

.header {
    min-height: 90px;

    .navbar {
        background: rgb(255 255 255 / 90%);
        box-shadow: 0 3px 2px -2px rgb(0 0 0 / 10%);
    }
}

/* utility */
img.is-rounded {
    max-height: 256px;
    width: auto;
}

.is-gray {
    filter: brightness(0);
}

.is-gray:hover {
    filter: brightness(1);
}